{
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-bitwise": 0,
    "no-plusplus": 0,
    "prefer-spread": 0,
    "prefer-rest-params": 0,
    "function-paren-newline": 0,
    "prefer-arrow-callback": 0,
    "valid-jsdoc": 1,
    "require-jsdoc": [1,
      {
        "require": {
          "FunctionDeclaration": true,
          "ClassDeclaration": true,
          "MethodDefinition": true,
          "FunctionExpression": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/bench.js",
        "scripts/**/*.js"
      ],
      "rules": {
        "require-jsdoc": 0,
        "import/no-extraneous-dependencies": 0
      }
    }
  ]
}